<!DOCTYPE html>
<html>
<head>
    <title>ElasticUI Demo</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .instructions {
            display: block;
            margin: 0 auto;
            width: 450px;
        }
    </style>
    <script>
        angular
                .module('tutorial', ['elasticui'])
                .constant('euiHost', 'http://localhost:9200'); // ACTION: change to cluster address
    </script>
</head>
<body ng-app="tutorial" eui-index="'shop'"><!-- ACTION: change to index name -->

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 sidebar">
            <h3>Search</h3>
            <eui-searchbox field="'body_html'"></eui-searchbox>
            <!-- ACTION: change to field to search on -->
            <h3>Single select facet</h3>
            <eui-singleselect field="'body_html'" size="5"></eui-singleselect>
            <!-- ACTION: change to field to use as facet -->
            <h3>Multi select facet</h3>
            <eui-checklist field="'tags'" size="10"></eui-checklist>
            <!-- ACTION: change to field to use as facet -->
        </div>
        <div class="col-xs-9 col-xs-offset-3 main">
            <h3>Results</h3>
            <!--<ul>-->
                <!--<li ng-repeat="doc in indexVM.results.hits.hits">-->
                    <!--{{doc._source | json | limitTo: 500}}-->
                    <!--&lt;!&ndash; OPTIONAL: display more meaningful data instead of json &ndash;&gt;-->
                <!--</li>-->
            <!--</ul>-->

            <div class="row-fluid">
                <div class="widget worange">
                    <div class="widget-content user">
                        <div class="padd" ng-repeat="s in indexVM.results.hits.hits">

                            <h6>{{s._source.title}}</h6>
                            <small>{{s._source.vendor}}</small>
                            <small>{{s._source.tags}}</small>

                            <div>
                                <img style="height: 100px; width: 100px;" src="{{s._source.images[0].src}}"/>
                                <small>{{s._source.body_html}}</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>

            <eui-simple-paging></eui-simple-paging>
        </div>
    </div>


</div>
</div>
</body>
</html>